body {
  font-family: Roboto, Helvetica, _sans;
  font-size: 16px;
  padding: 1vw;
  margin: 0;
  color: #333;
  background: #efefef; }

input {
  border: 2px solid lightgrey;
  padding: .2em .4em; }

* {
  box-sizing: border-box; }

h2, h3, h4, h5, h6 {
  color: #555; }

button {
  background-color: lightgreen;
  border: none;
  font-weight: bold;
  padding: .8em 1.2em;
  text-transform: uppercase;
  display: inline-block;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3); }

.Main {
  text-align: center; }

.Main__url-field {
  width: 100%; }

.Main__field-shell {
  display: flex;
  align-items: stretch;
  margin-bottom: 1em; }

.Main__get-words-btn {
  flex-grow: 1;
  min-width: 16ch;
  margin-left: 1em; }

.Main__words {
  display: flex;
  align-items: stretch;
  justify-content: space-between; }

.Main__sentence-input {
  display: block;
  height: 4em;
  width: 100%;
  margin-bottom: 1em; }

.Main__sentence {
  padding: 1em;
  font-weight: bold;
  color: green;
  font-size: 2.5em; }

.Main__share-shell {
  font-size: .8em;
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }
  .Main__share-shell label {
    margin-right: 1em; }

.Main__share-field {
  flex-grow: 1; }

.Main__instructions {
  text-align: left; }

.WordList {
  flex-grow: 1; }
  .WordList ul, .WordList dd {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0; }

.WordList__label {
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: #ccc;
  font-weight: bold;
  border: 1px solid #ddd;
  border-left: none; }

.WordList__label,
.WordList li {
  padding: .2em .5em; }

.WordList li {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd; }

.WordList:first-child li {
  border-left: 1px solid #ddd; }

.WordList:first-child .WordList__label {
  border-left: 1px solid #ddd; }
